<h1>Students#show</h1>
<p>Find me in app/views/students/show.html.erb</p>

<h3><%= @student.name %></h3>
<h3><%= @student.age %></h3>
<h3 ><%= @student.enroll_number %></h3>
<h3 ><%= @student.branch %></h3>
